@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#footer-wrap {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    flex-grow: 2 1;
}

/* #footer-wrap {
    width: 100%;
    position: absolute;
    bottom: 0;    
    display: flex;
    justify-content: center;
    border: 1px solid black;
    flex-grow: 2 1;
} */

.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 10%; 
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: bold;
}

.logo {
    margin-bottom: 20px;
}

.icon i:nth-child(1) {
    /* border: 1px solid black; */
    margin-right: 15px;
}

.footer-content {
    width: 50%; 
    padding : 30px 30px;
}

.footer-nav ul {
    display: flex;
}

.footer-nav ul li {
    margin-right: 30px;
    
}
.footer-nav {
    display: flex;
    /* justify-content: space-around; */
}

.footer-content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.footer-privacy {
    margin-left: 60px;
}

.footer-privacy ul {
    display: flex;
}

.footer-privacy ul li {
    margin-right: 30px;
    
}
.footer-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer-info > div {
    margin-bottom: 10px;
}