@import url("/front/css/reset.css");

/* component */
@import url("/front/css/component/footer.css");
@import url("/front/css/component/nav.css");

/* screen */
@import url("/front/css/screen/main.css");
@import url("/front/css/screen/board.css");


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GmarketSansMedium', sans-serif; /* '*' 선택자 대신 'body' 선택자 사용 */
}
